.tabs li {
  display: inline-block;
  padding: .5% 10% .5% 10%;
  font-size: 1.5em;
  border: .1em solid lightgrey;
  width: 25%;
  text-align: center;
}

.tabs a {
  text-decoration: none;
}

.tabs::current {
  background-color: red;
  color:blue;
}

img {
  float: left;
  padding-left: 1em;
}

.profile {
  padding-left: 9em;
}

#tab1 p {
  font-size: .8em;
}

#tab1 a {
  text-decoration: none;
}

button {
  display: block;
  margin-left: 3%;
  padding-top: .5em;
  padding-bottom: .5em;
  width: 94%;
  background-color: lightgreen;
}

.media li {
  display: inline-block;
  width: 90%;
  float: right;
}

.media {
  display: inline-block;
  width: 96%;
  border: 1em solid #F8F8F8;
}

.repos ul {
  display: inline-block;
  border: .2em solid lightgrey;
}

.repos li {
  border: .2em solid lightgrey;
  padding-top: 1.7em;
  padding-left: .5em;
  display: block;
  width: 95%;
  float: left;
}

.repos li ul {
  border: .2em solid lightgrey;
}

.repos p {
  float: right;
  padding-right: 3em;
}

.repos a {
  text-decoration: none;
  color: blue;
}

.repos {
  border: 1em solid #F8F8F8;
}
